{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 ">Overview</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary -sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Content Row -->
          {% if session.index %}
          <div class="row">

            <!-- Total Data Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-calendar fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Total Data</div>
                      <div class="h5 mb-0 font-weight-bold ">{{raw_datasets_count}}</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Data dari Web Scraping</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Clean Data Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-dollar-sign fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Clean Data</div>
                      <div class="h5 mb-0 font-weight-bold ">{{clean_datasets_count}}</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Data Setelah Preprocessing</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Data Used Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-dollar-sign fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Data Used</div>
                      <div class="h5 mb-0 font-weight-bold ">{{all_cluster_count}}</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Data untuk Clustering</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Resource Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-comments fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Resource</div>
                      <div class="h5 mb-0 font-weight-bold ">100</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Video dari Tiktok</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="row">

            <!-- Total Data Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-calendar fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Total Data</div>
                      <div class="h5 mb-0 font-weight-bold ">0</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Data dari Web Scraping</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Clean Data Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-dollar-sign fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Clean Data</div>
                      <div class="h5 mb-0 font-weight-bold ">0</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Data Setelah Preprocessing</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Data Used Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-dollar-sign fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Data Used</div>
                      <div class="h5 mb-0 font-weight-bold ">0</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Data untuk Clustering</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Resource Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters">
                    <i class="fas fa-comments fa-2x"></i>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-gray-900 mt-1 mb-1">Resource</div>
                      <div class="h5 mb-0 font-weight-bold ">0</div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col mt-2">
                      <div class="text-xs mb-1">Video dari Tiktok</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="row">

            <!-- Table -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Grouping</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-borderless" id="dataTable_clustering" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Cluster Number</th>
                          <th>Cluster Name</th>
                          <th>Total Comments</th>
                          <th>Date</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      {% if session.clustering %}
                      <tbody>
                        {% for key, value in cluster_group.items() %}
                        <tr>
                          <td>{{key}}</td>
                          <td>Cluster {{key}}</td>
                          <td>{{value}}</td>
                          <td>Today</td>
                          <td>Ok</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      {% else %}
                      <tbody></tbody>
                      {% endif %}
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Gauge JS -->
            <div class="col-xl-4 col-lg-5">
              <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="text-primary m-0 font-weight-bold">Model Performance</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right  animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" onclick="call_api('modelling')">Refresh</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="myGauge"></div>
                  <div class="mt-4 text-center small">
                    {% if session.index %}
                    <div class="row">
                      <div class="col-sm-4">
                        <h5>{{100*model_results[1]['Precision']|round(3)}}</h5>
                        <h6>Precision</h6>
                      </div>
                      <div class="col-sm-4">
                        <h5>{{100*model_results[1]['Recall']|round(3)}}</h5>
                        <h6>Recall</h6>
                      </div>
                      <div class="col-sm-4">
                        <h5>{{100*model_results[1]['F1-Score']|round(3)}}</h5>
                        <h6>F1-Score</h6>
                      </div>
                    </div>
                    {% else %}
                    <div class="row">
                      <div class="col-sm-4">
                        <h5>0</h5>
                        <h6>Precision</h6>
                      </div>
                      <div class="col-sm-4">
                        <h5>0</h5>
                        <h6>Recall</h6>
                      </div>
                      <div class="col-sm-4">
                        <h5>0</h5>
                        <h6>F1-Score</h6>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <!-- Content Row 1 -->

          <div class="row">

            <!-- Table -->
            <div class="col-xl-7 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Sentiment Analysis</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-borderless" id="cluster_dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Number</th>
                          <th>Comment</th>
                          <th>Cluster</th>
                          <th>Sentiment</th>
                        </tr>
                      </thead>
                      {% if session.labeling %}
                      <tbody>
                        {% for data in labeling_datas %}
                        <tr>
                          <td>{{loop.index}}</td>
                          <td>{{data['cluster']}}</td>
                          <td>{{data['komentarClean']}}</td>
                        {% if data['sentimen'] == 'positive' %}
                          <td><span class="badge badge-success">{{data['sentimen']}}</span></td>
                        {% elif data['sentimen'] == 'neutral' %}
                          <td><span class="badge badge-warning">{{data['sentimen']}}</span></td>
                        {% else %}
                          <td><span class="badge badge-danger">{{data['sentimen']}}</span></td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                      {% else %}
                      <tbody></tbody>
                      {% endif %}
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bar Chart -->
            <div class="col-xl-5 col-lg-7">      
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Rank by Data</h6>
                </div>
                {% if session.ranking %}
                <div class="card-body">
                  <canvas id="rankingChart"></canvas>
                </div>
                {% else %}
                <div class="card-body"></div>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End of Main Content -->

{% endblock %}

{% block js %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script> -->


    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js')}}"></script>
    <script src="{{ url_for('static', filename='js/plotly-2.25.2.min.js')}}"></script>
    <script>
      $(document).ready(function() {
        $('#cluster_dataTable').DataTable({
          "pageLength": 5
        });
      });
      $(document).ready(function() {
        $('#dataTable_clustering').DataTable({
          "pageLength": {{cluster_group|length}}
        });
      });
    </script>
    <script>
      var ctx = document.getElementById("rankingChart")
      var data = {{ranking_datas|tojson}}
      var chart = new Chart(ctx, 
      {
        type: 'bar',
        data: {
          labels: data.map(row => row.Cluster),
          datasets: [
            {
              label: 'Total Comments',
              data: data.map(row => row.Negative_Count),
              backgroundColor: "rgba(230, 95, 43, 1)",
            }
          ]
        },
        options: {
          responsive: true,
        }
      }
      );
    </script>
    <script>
      var value = 0
      var ses = JSON.parse('{{session|tojson|safe}}')
      var mod_res = JSON.parse('{{model_results[0]|tojson|safe}}')
      console.log(ses)
      console.log(mod_res)
      if (ses.index) {
        value = 100*mod_res.Accuracy
      }
      var data = [
        {
          domain: { x: [0, 1], y: [0, 1] },
          value: value,
          title: { text: "Accuracy", font: { size: 24 } },
          type: "indicator",
          mode: "gauge+number",
          gauge: { 
            axis: { range: [0, 100] },
            bar: { color: "#E65F2B" },
          }
        }
      ];

      var layout = 
        { 
          height: 320,
          autosize: true
        };
      Plotly.newPlot('myGauge', data, layout, {responsive: true});
    </script>
    <script>
      document.querySelectorAll('.main-svg')[0].style.backgroundColor = "rgba(255, 255, 255, 0)" 
    </script>
    <script>
      function call_api(pagename) {
        console.log(`UPDATE SESSION FOR ${pagename}`)
        fetch(`/session/${pagename}/1`).then(response => console.log(response))
        if(confirm(`Proses data?`)) {
            window.location.href = `/`
        }
      }
    </script>
    

{% endblock %}
