{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 font-weight-bold">Labeling</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Sentiment Analysis</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Number</th>
                      <th>Comment</th>
                      <th>Cluster</th>
                      <th>Sentiment</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in datas %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td>{{data['komentarClean']}}</td>
                      <td>{{data['cluster']}}</td>
                      {% if data['prediksi_sentimen'] == 'positive' %}
                        <td><span class="badge badge-success">{{data['prediksi_sentimen']}}</span></td>
                      {% elif data['prediksi_sentimen'] == 'neutral' %}
                        <td><span class="badge badge-warning">{{data['prediksi_sentimen']}}</span></td>
                      {% else %}
                        <td><span class="badge badge-danger">{{data['prediksi_sentimen']}}</span></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}

{% block js %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}